/*  your css code here. If applicable */
		body{
            height: 100%;
            width: 100%;
        }
        div{
            background-color: lightblue;
            border: 2px solid;
            position: absolute;
            height: 40%;
            width: 40%;
            top: 30%;
            left: 30%;
        }
        h1{
			color: purple;
            position: absolute;
            height: 40%;
            width: 40%;
            top: 30%;
            left: 30%;
        }